{% extends 'base.html' %}
{% block content %}

<h1>Rescue List</h1>

{% for rescue in rescues %}
  <div class="card">
      <a href="{% url 'detail' rescue.id %}">
        <div class="card-content">
        <span class="card-title">{{ rescue.name }}</span>
        <p>Type: {{ rescue.animal }}</p>
        <p>Description: {{ rescue.description }}</p>
        {% if rescue.age > 0 %}
            <p>Age: {{ rescue.age }}</p>
        {% else %}
            <p>Age: Baby</p>
        {% endif %}
        </div>
    </a>
  </div>
{% endfor %}

{% endblock %}